[Unit]
Description=Detect removal of live system media

[Service]
ExecStart=/usr/sbin/udev-watchdog-wrapper
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target
